<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ESUP-OTP</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" type="text/css" href="cas.css">
</head>

<body>
    <header role="banner" id="headerEcranConnexion">
        <script> window.bandeau_anonyme = {}; </script>
        <script src="https://ent-test.univ-paris1.fr/assets/bandeau-anonyme/loader.js"></script>
        <div><h1>Authentification renforcée</h1></div>
    </header>

    <script>
    window.onerror = function (err, file, line) {
        window.my_error = err + " at " + file + ":" + line;
    }
    </script>
<script src="javascripts/jquery/jquery.min.js"></script>
<script src="<%= params.apiUrl %>/js/socket.io.js"></script>

    <main role="main">
    <div id="content" class="main">

      <form method="post" id="fm1">
        <input id="ticket" name="ticket" value="<%= ticket %>" type="hidden">
        <input type="hidden" name="uid_hint" value="">

       <div id="errors">
          <%= error %>
       </div>

       <div id="warnings">
       </div>

      </form>
      <%- include('help'); -%>
    </div>
    </main>

<script src="login.js"></script>
<script>
    function start(params) {
        document.querySelector("input[name=uid_hint]").value = params.uid
        try { 
            // remove ticket from url for reload/navigation
            window.history.replaceState({}, null, location.href.replace(/[?&]ticket=.*/, '').replace(/[&?]auth_checked$/, ''))
        } catch (e) {}

        if (params.validated_otp_too_old) {
            const validity_duration_text = milliseconds_to_french_text(params.validated_otp_too_old.validity_seconds * 1000)
            $("#warnings").html(`
              Votre précédente authentification renforcée a été ignorée car l'application demande un code à usage unique récent (de moins de ${validity_duration_text})
            `)
        }

        getUserOtpMethods_and_displayChoices(params);
    }

    start(<%- JSON.stringify(params) %>)
</script>
<script>
    // handle "syntax error"s because of old browsers in JS code above:
    if (!window.start) alert("Votre navigateur n'est pas compatible avec cette application. Veuillez utiliser une version plus récente. " + 
        (window.my_error ? "\n\nErreur : " + window.my_error : ""))
</script>

</body>
</html>
